@import "styles/variables"

.button_style
	height: 40px
	background-color: $base-color-4
	margin: 4px

.button_title
	padding: 12px
	font-size: 16px
	color: black
	font-weight: 500

.button_title:hover
	color:#dac6e3
	transition: all 0.3s ease

.button_title_active
	padding: 12px
	font-size: 16px
	color: #dac6e3
	font-weight: 500

@media (max-width: 1199px) 
	.button_title
		padding: 8px
		font-size: 14px

@media (max-width: 850px) 
	.button_style
		height: 35px
	.button_title
		padding: 6px
		font-size: 12px

@media (max-width: 599px)
	.button_style
		height: 30px
	.button_title
		padding: 0px
		font-size: 10px