@import "styles/variables"
	
.collage 
	display: grid
	grid-template-columns: repeat(4, 1fr)
	// grid-template-rows: repeat(4, auto)
	align-items: center
	// minmax(100px, 400px)
	background-color: $base-content-color
	padding: 0 20px 50px 20px


.painting
	// align-self: start
	padding: 10px
	text-align: center

	p
		font-size: 1.2rem

.painting:hover
	background-color: grey
	color: white
	transition: all 0.3s ease

.contain
	object-fit: contain
	margin-bottom: 10px

.loading
	margin-top: 150px
	text-align: center