@import "styles/variables"
	
.collage 
	display: grid
	grid-template-columns: repeat(4, 1fr)
	// grid-template-rows: repeat(4, auto)
	align-items: center
	// minmax(100px, 400px)
	background-color: $base-content-color
	padding: 0 20px 0 20px
	align-items: start
	gap: 10px


.painting
	// align-self: start
	// padding: 5px
	text-align: center
	height: 100%
	padding: 8px

	p

.painting_title
	margin-bottom: 4px

.painting:hover
	// background-color: $base-color-6
	// color: white
	transition: all 0.3s ease
	opacity: 0.8

.contain
	object-fit: contain
	margin-bottom: 10px
	width: 90%
	max-height: 90%
	max-width: 300px
	max-height: 300px
	margin-top: 10px

.no_img
	object-fit: contain
	margin-bottom: 10px
	width: 90%
	height: 90%
	max-width: 300px
	max-height: 300px

.loading
	margin-top: 150px
	text-align: center

// @media screen and (min-width: 1200px) 
// 	.painting
// 		font-size: 1.1rem

@media screen and (max-width: 1200px) 
	.painting
		font-size: 1rem

@media (max-width: 850px) 
	.painting
		font-size: 0.9rem

@media (max-width: 599px) 
	.collage 
		grid-template-columns: repeat(3, 1fr)
		padding: 0 5px 40px 5px

	.painting
		font-size: 0.8rem
	.painting
		padding: 0