@import "styles/variables"

.navigation 
	display: flex
	// margin: $spacing * 2
	// margin-left: $spacing *4
	align-items: center

	button 
		height: 55px
		border-radius: 0px
		font-size: 1.05rem
		box-shadow: none
		font-family: 'Inter', sans-serif

.navigation_logo

.link 
	padding: $spacing
	color: white
	display: flex
	align-items: center

.icon
	margin-right: 5px
	width: 20px
	max-height: 20px

.logo_icon
	margin-right: 5px
	height: 40px
	width: 40px

@media (max-width: 1400px) 
	.navigation 
		button
			font-size: 1rem

	.link
		padding: $spacing 0

@media (max-width: 992px) 
	// .icon
	// 	display: none

@media (max-width: 850px)
	.navigation 
		width: 100%
		justify-content: center	
	.icon
		margin-right: 4px
		max-width: 18px
	.logo_icon
		height: 35px
		width: 35px

@media (max-width: 599px) 
	.navigation 
		width: 100%
		justify-content: center


		button
			font-size: 0.7rem
			padding: 5px

	.icon
		margin-right: 3px
		max-width: 16px

	.logo_icon
		height: 30px
		width: 30px