@import "styles/variables"

.navigation 
	display: flex
	// margin: $spacing * 2
	// margin-left: $spacing *4
	align-items: center

	button 
		height: 60px
		border-radius: 0px
		font-size: 1.05rem
		box-shadow: none

.navigation_logo

.link 
	padding: $spacing
	color: white
	display: flex
	align-items: center

.icon
	margin-right: 5px

@media (max-width: 1400px) 
	.navigation 
		button
			font-size: 1rem

	.link
		padding: $spacing 0

@media (max-width: 992px) 
	.icon
		display: none

@media (max-width: 599px) 
	.navigation 
		button
			font-size: 0.8rem