@import "Styles/variables"
	
.aboutUs_page 
	max-width: 1170px
	margin: 0 auto
	background-color: $base-content-color
	height: 100vh

.content
	padding-top: 120px
	text-align: center

.image
	margin-top: 50px
	margin-bottom: 100px