@import "styles/variables"
	
.home_page
	text-align: center

.container
	max-width: 1170px
	margin: auto
	margin-top: 70px
	padding-top: 20px
	background-color: $base-content-color

.title
	margin: $spacing * 2

.title1
	margin: $spacing * 2

.title2
	margin: $spacing * 2

.formControl
	margin: $spacing * 3

.tools
	display: flex
	justify-content: center
	margin-bottom: 20px

.page_controller
	padding-bottom: 30px

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px

.search_bar
	margin: $spacing * 2 0
	display: flex
	align-items: center