@import "styles/variables"
	
.home_page
	text-align: center
	width: 100%
	position: absolute
	top: 0

.container
	// max-width: 80%
	margin: auto
	background-color: $base-content-color
	width: 100%
	min-height: 100vh
	position: absolute
	margin-left: 10%

.title
	margin-top: 90px
	margin-bottom: 40px

.title1
	margin: $spacing * 2

.title2
	margin: $spacing * 2

.formControl
	margin: $spacing * 3

// .tools
// 	display: flex
// 	justify-content: center
// 	margin-bottom: 20px

.tags
	margin: 18px
	margin-bottom: 32px

.page_controller
	margin: 40px 0
	display: flex
	justify-content: center

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px

.search_bar
	display: none

.search_bar_class
	

@media screen and (min-width: 1200px) 
	.container
		max-width: 80%

@media screen and (max-width: 1199px) 
	.container
		margin-left: 0

@media (max-width: 850px) 
	.collage
		margin-top: 50px
	.title
		h1
			font-size: 24px
	.tags
		margin: 18px 9px
	.search_bar
		margin: $spacing * 2 0
		display: block
		// align-items: center
		// justify-content: center
		// width: 60%
	.search_bar_form
		display: flex
		align-items: center
		justify-content: center

	.search_bar_input
		width: 40%
		height: 25px
		font-size: 14px

	.search_bar_button
		width: 80px
		font-size: 12px
		height: 40px

	.page_controller li
		width: 28px

@media (max-width: 599px) 
	.container
		width: 100%

	.title
		margin-top: 70px
		margin-bottom: 20px

		h1
			font-size: 16px
	.tags
		margin-bottom: 3%

	.collage
		margin-top: 20px

	.search_bar
		// width: 40%

	.search_bar_input
		height: 20px
		width: 50%
		font-size: 12px

	.search_bar_button
		height: 30px
		font-size: 10px !important

	// .collage
	// 	margin-top: 3%