@import "styles/variables"

.paintings_page
	// max-width: 80%
	margin: auto
	text-align: center
	background-color: $base-content-color
	height: 100vh
	
.content
	padding-top: 120px

.paintings_page li
	list-style-type: none
	max-width: 80%

.paintings_title
	margin-bottom: $spacing * 4

.painting
	// margin: 12px 36px
	margin: 12px auto

.painting_link
	font-size: 1.3rem
	padding: 6px

.painting_link:hover
	background-color: $base-color-3
	color: white
	transition: all 0.3s ease

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px

.search_bar
	margin-top: 50px
	margin-bottom: 80px

.search_bar_form
	display: flex
	justify-content: center
	align-items: center

.search_bar_input
	height: 30px
	width: 20%

.search_bar_button
	height: 40px
	font-size: 16px

.page_controller
	margin-top: 150px
	display: flex
	justify-content: center

@media screen and (min-width: 1200px) 
	.paintings_page
		width: 80%

@media screen and (max-width: 1199px)
	.painting_link
		font-size: 1.2rem

	.search_bar_input
		height: 35px
		width: 30%

	.search_bar_button
		height: 45px
		font-size: 16px

	.page_controller
		margin-top: 70px

@media screen and (max-width: 850px)
	.page_controller li
		width: 28px

@media (max-width: 599px) 
	.paintings_page
		// height: 100%

	.content
		padding-top: 90px

		h1
			font-size: 24px

	.search_bar
		margin-top: 20px
		margin-bottom: 20px

	.paintings_title
		margin-bottom: $spacing * 2

	.painting_link
		font-size: 1rem
	
	.search_bar_input
		height: 25px
		width: 50%

	.search_bar_button
		height: 35px
		font-size: 12px

	.page_controller
		margin-top: 50px