@import "styles/variables"
	
.artists_page
	// max-width: 80%
	margin: 0 auto
	background-color: $base-content-color	
	height: 100vh

.container
	padding-top: 120px

.loading_container
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px

.artists
	text-align: center
	margin: 0 auto

.artists_title
	margin-bottom: 50px

.artists_list

.artist
	margin: 12px

.artist_link
	font-size: 1.4rem
	padding: 6px

.artist_link:hover
	background-color: grey
	color: white
	transition: all 0.3s ease

.search_bar
	margin-top: 70px
	margin-bottom: 100px

.page_controller
	margin-top: 150px

@media screen and (min-width: 1200px) 
	.artists_page
		width: 80%

@media (max-width: 599px) 
	.artists_page
		// height: 100%
		width: 100%

	.container
		padding-top: 100px

	.artists_title

		margin-bottom: 20px
		
		h1
			font-size: 24px
		
	.artist_link
		font-size: 1.1rem

	.search_bar
		margin-top: 20px
		margin-bottom: 10px

	.page_controller
		margin-top: 10px