@import "styles/variables"

.artist_page
	max-width: 1170px
	margin: 0 auto
	background-color: $base-content-color
	height: 100vh

.container
	padding-top: 120px
	background-color: $base-content-color
	text-align: center
	
.artist_name
	text-align: center
	margin-bottom: 50px
	margin-top: 20px

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px

.page_controller

.no_public_domain
	display: flex
	justify-content: center
	align-items: center
	margin-top: 150px

.no_public_title
	margin-bottom: 70px