.container
	max-width: 1170px
	margin: 0 auto
	margin-top: 70px

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px