@import "Styles/variables"

.artist_page
	max-width: 1170px
	margin: 0 auto
	background-color: $base-content-color
	height: 100vh

.container
	padding-top: 120px
	
.artist_name
	margin-bottom: 100px
	text-align: center

.loadingContainer
	display: flex
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

.loading
	width: 100px
	height: 100px