@import "styles/variables"

* 
	box-sizing: border-box
	padding: 0
	margin: 0


html,
body 
	font-family: $basic-font-family
	max-width: 100vw

body
	background-color: $base-background-color
	color: $base-color

a
	color: inherit
	text-decoration: none
	cursor: pointer

// a:hover 
// 	background-color: $base-color-1
// 	transition: all 0.3s ease

*, ::after, ::before
	-webkit-box-sizing: inherit
	box-sizing: inherit
	-ms-touch-action: inherit
	touch-action: inherit