//colors
$base-color: #000
$base-background-color: #fff
$base-header-color: #000
$base-content-color: #f3f3f3

$second-color: #fff
$second-background-color: #000

$base-color-1: grey  // #b39ea9
$base-color-2: #190061
$base-color-3: #240090
$base-color-4: #3500D3
$base-color-5: #282828

//spacing
$spacing: 8px

//fonts
$basic-font-family: 'Inter', sans-serif

$font-size-small: 0.875rem
$font-size-normal: 1rem
$font-size-big: 1.125rem